.chip-button {
    background: #F8D9D7 0% 0% no-repeat padding-box;
    border-radius: 13px;
    opacity: 1;
    border: none;
}

.chip-button-icon{
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 0.7;
    padding-left: 10px;
    fill: #B52026
}

.chip-button-label {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans';
    letter-spacing: 0;
    color: #B52026;
}

.chip-button:disabled .chip-button-icon{
    fill:  #FFFFFF;
}

.chip-button:disabled {
    border: none !important;
    background: #C0C0C0 0% 0% no-repeat padding-box;
}

.chip-button:disabled .chip-button-label {
    color: #FFFFFF;
}


.chip-button:hover {
    border: 1px solid #B52026;
}

.chip-button:active {
    opacity: .7;
    border: 1px solid #B52026B3;
}

.item-card-link{
    text-align: left;
    font: Bold 12px 'Open Sans';
    letter-spacing: 0;
    color: #B52026;
    text-decoration: none;
}


.item-card-link:hover {
    text-decoration:underline;
}


.item-card-link:disabled {
    color: #C0C0C0;
}

.item-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
}
  
img{
    border-radius: 12px 12px 0px 0px;
}
.item-card:hover {
    box-shadow: 0px 0px 30px #2114141A;
}

.padding-10{
    padding: 10px !important;
}

button:focus {
    outline:0;
}